<html>
  <head>
    <title>Internaute</title>
  </head>
  <body>
    <ul>
      <li>Nom: {{internaute.nom}}</li>
      <li>Prenom: {{internaute.prenom}}</li>
      <li>Téléphone: {{internaute.tel}}</li>
      <li>Email: {{internaute.mail}}</li>
      <li>Voiture: {{internaute.voiture.voiture}}, {{internaute.voiture.nbPlaces}} places</li>
      <li>Ville d'origine: {{internaute.ville.ville}}</li>
    </ul>
  </body>
</html>
