<html>
  <head>
    <title>Trajets</title>
  </head>
  <body>
    <table>
      {% for item in trajets %}
        <tr><td><b>De</b>: {{ item.ville.ville }}</td><td><b>A</b>: {{ item.ville1.ville }}</td><td><b>Distance</b>: {{ item.nbKm }} km</td><td><b>Conducteur</b>: {{item.internaute.prenom}} {{item.internaute.nom}} </td><td><b>Date</b>: {{ item.date }}</td></tr>
      {% endfor %}
    </table>
  </body>
</html>
