<html>
  <head>
    <title>Trajet</title>
  </head>
  <body>
    <table>
        <ul>
          <li><b>Ville de départ</b>: {{ trajet.ville.ville }}</li>
          <li><b>Ville d'arrivée</b>: {{ trajet.ville1.ville }}</li>
          <li><b>Distance</b>: {{ trajet.nbKm }} km</li>
          <li><b>Conducteur</b>: {{trajet.internaute.prenom}} {{trajet.internaute.nom}}</li>
          <ul>
            <li><b>Téléphone du Conducteur</b>: {{trajet.internaute.tel}}</li>
            <li><b>Mail du Conducteur</b>: {{trajet.internaute.mail}}</li>
            <li><b>Ville d'origine du Conducteur</b>: {{trajet.internaute.ville.ville}}</li>
          </ul>
          <li><b>Voiture</b>: {{ trajet.internaute.voiture.voiture }}</li></tr>
          <li><b>Nombre de places</b>: {{ trajet.internaute.voiture.nbPlaces }}</li></tr>
          <li><b>Date</b>: {{ trajet.date }}</li></tr>
        </ul>
    </table>
  </body>
</html>
